/* fonts */

div.jqcloud {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
  background: rgba(0, 0, 0, 1);
  border-radius: 10px;
  width: 100% !important;
  margin-bottom: 20px;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud span {
  cursor: pointer;
}

div.jqcloud span:hover {
  background-color: rgba(255, 255, 255, 0.5)
}

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }

.sentiment-positive > div.jqcloud span.w10 { color: rgba(0, 255, 0, 1); text-decoration: underline;}
.sentiment-positive > div.jqcloud span.w9 { color: rgba(20, 255, 20, 0.95); }
.sentiment-positive > div.jqcloud span.w8 { color: rgba(40, 255, 40, 0.90); }
.sentiment-positive > div.jqcloud span.w7 { color: rgba(60, 255, 60, 0.85); }
.sentiment-positive > div.jqcloud span.w6 { color: rgba(80, 255, 80, 0.80); }
.sentiment-positive > div.jqcloud span.w5 { color: rgba(100, 255, 100, 0.75); }
.sentiment-positive > div.jqcloud span.w4 { color: rgba(120, 255, 120, 0.70); }
.sentiment-positive > div.jqcloud span.w3 { color: rgba(140, 255, 140, 0.6); }
.sentiment-positive > div.jqcloud span.w2 { color: rgba(160, 255, 160, 0.4); }
.sentiment-positive > div.jqcloud span.w1 { color: rgba(180, 255, 180, 0.2); }

.sentiment-negative > div.jqcloud span.w10 { color:rgba(255, 0, 0, 1); text-decoration: underline; }
.sentiment-negative > div.jqcloud span.w9 { color: rgba(255, 20, 20, 0.95); }
.sentiment-negative > div.jqcloud span.w8 { color: rgba(255, 40, 40, 0.90); }
.sentiment-negative > div.jqcloud span.w7 { color: rgba(255, 60, 60, 0.85); }
.sentiment-negative > div.jqcloud span.w6 { color: rgba(255, 80, 80, 0.80); }
.sentiment-negative > div.jqcloud span.w5 { color: rgba(255, 100, 100, 0.75); }
.sentiment-negative > div.jqcloud span.w4 { color: rgba(255, 120, 120, 0.70); }
.sentiment-negative > div.jqcloud span.w3 { color: rgba(255, 140, 140, 0.6); }
.sentiment-negative > div.jqcloud span.w2 { color: rgba(255, 160, 160, 0.4); }
.sentiment-negative > div.jqcloud span.w1 { color: rgba(255, 180, 180, 0.2); }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }
